PORT=5006
MONGO_URI=
RABBITMQ_URL=amqp://admin:admin@localhost:5672
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=DMS Notifications <your@gmail.com>
FRONTEND_URL=http://localhost:3000
